/*--Font Face Links---------------------------------------------------*/

@font-face{
	font-family: "Neutraface 2 Display Titling";
	src: url(../fonts/neutra.otf);
}

@font-face{
	font-family: "Lobster 1.4";
	src: url(../fonts/Lobster.otf);
}

@font-face{
	font-family: Days;
	src: url(../fonts/days.otf);
}


@font-face{
	font-family: "Avengeance Heroic Avenger Italic";
	src: url(../fonts/avengers.otf);
}

@font-face{
	font-family: Commando;
	src: url(../fonts/commando.ttf);
}

@font-face{
	font-family: "Bubblegum Sans";
	src:url(../fonts/gum.otf);
}
/*--Main Body Styles---------------------------------------------------*/

body{
	background: url(../images/fiber.jpg);
	width:100%;
	height:auto;
	text-align:center;
	margin:0px auto;
	overflow:scroll;
	padding-bottom:20px;
}

h1{
	font-family: Commando ;
	font-size:50px;
	line-height:1;
	color:#FFF;
	background:none;
	padding:10px;
	width:100%;
	
	text-shadow: 5px 5px 2px #5c0000;
        filter: dropshadow(color=#5c0000, offx=1, offy=1);
		border-top:1px solid #FC0;
}

h2{ 
background: rgb(109,0,25); /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover, rgba(109,0,25,1) 0%, rgba(68,0,14,1) 100%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(109,0,25,1)), color-stop(100%,rgba(68,0,14,1))); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover, rgba(109,0,25,1) 0%,rgba(68,0,14,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover, rgba(109,0,25,1) 0%,rgba(68,0,14,1) 100%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover, rgba(109,0,25,1) 0%,rgba(68,0,14,1) 100%); /* IE10+ */
background: radial-gradient(ellipse at center, rgba(109,0,25,1) 0%,rgba(68,0,14,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6d0019', endColorstr='#44000e',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */


padding:10px; 
width:800px;
margin:0px auto;
border-radius:20px;
font-family: days;
max-width:800px;
color:#FFF;
}

h5{
	font-size:40px;
	color:#FFF;
}

b , .amazing {
	font-family:"Lobster 1.4";
}

/*--Navigation Styles---------------------------------------------------*/

nav{
	background: rgb(109,0,25); /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover, rgba(109,0,25,1) 0%, rgba(68,0,14,1) 100%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(109,0,25,1)), color-stop(100%,rgba(68,0,14,1))); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover, rgba(109,0,25,1) 0%,rgba(68,0,14,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover, rgba(109,0,25,1) 0%,rgba(68,0,14,1) 100%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover, rgba(109,0,25,1) 0%,rgba(68,0,14,1) 100%); /* IE10+ */
background: radial-gradient(ellipse at center, rgba(109,0,25,1) 0%,rgba(68,0,14,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6d0019', endColorstr='#44000e',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */


	-webkit-box-shadow: 0px 11px 30px rgba(0, 0, 0, 1);
	-moz-box-shadow: 0px 11px 30px rgba(0, 0, 0, 1);
	box-shadow: 0px 11px 30px rgba(0, 0, 0, 1);
	width:100%;
	height:100px;
	margin-left:0px ;
	top:0px;
	left:0;
	position: absolute;
	padding:0px;
	z-index:900;
	border-top:#FC0 3px solid;
	
}

nav ul{
	z-index:998;
	padding:0px;
}

nav ul li{
	list-style:none;
	display:inline-block;
	margin:0px auto;
	padding:0px;
	width:auto;
	height:auto;
	padding:2px;
	background:none;
}

nav ul li a{
	color:#FFF;
	font-size:50px;
	margin-right:30px;
	text-decoration:none;
	font-family: Commando ;
	letter-spacing:2px;
	-webkit-transition: all .3s  ease-in-out;
	-moz-transition: all .3s  ease-in-out;
	-o-transition: all .3s  ease-in-out;
	transition: all .3s  ease-in-outt;
	opacity:.4;
}

nav ul li a h3{
	margin-top:-20px;
	font-size:22px;
	opacity:1;
	margin-right:30px;
	text-shadow: 3px 3px 2px #000;
    filter: dropshadow(color=#000, offx=1, offy=1);	
	
}


h3:hover{ color:#FC0;}

 a: active { border:10px solid black;}
/*--Opening Message Styles---------------------------------------------------*/

#face{
	width:90%;
	margin-top:300px;
	font-family:Days;
	font-size:60px;
	line-height:1;
	color:#FFF;
	z-index:14;
}


div{
	width:90%;
	margin:0px auto;
	margin-top:210px;
	color:#CCC;
	height:auto;
}

#div1{
	max-width:none;
}

#div1 img{
	border:5px solid #600;
}

p{
	font-size:20px;
	background:rgba(0,0,0,.8);
	padding:10px;
	text-align:left;
	line-height:1.6;
	font-family: Days;
	border-radius:20px;
	width:800px;
	max-width:800px;
	margin-right: auto;
	margin-left:auto;	
	margin-bottom:10px;
	-webkit-box-shadow:  0px 0px 20px 1px rgba(0, 0, 0, 1);    
    box-shadow:  0px 0px 20px 1px rgba(0, 0, 0, 1);
	border-top:#FC0 3px solid;
}
.artists {
	background:rgba(102,6,0,1);
	width:70%;
	max-width:800px;
	font-family:Days;
	padding:5px;
	text-align:center;
	margin-top:10px;
	font-size:20px;
	text-decoration:none;
	border-radius:5px;
	color:#FFF;
}



::-webkit-scrollbar {
    width: 10px;
}
 
::-webkit-scrollbar-track { 
    border-radius: 10px;
	background:black;
	
}
 
::-webkit-scrollbar-thumb {
    border-radius: none; background:#3CF;
}


/*-----Logo---------*/




#logo{
	position: absolute;
	
	top:0px;
	left:0px;
	margin-left: auto;
	margin-right:auto;
	width:100px;
	
}


#social{
	list-style:none;
	right:0;
	position:absolute;
	top:20px;
	z-index:900;
	display: block;
	width:200px;
	background:none;
}


#social img{
	width:60px;
}

#social li{
	display:inline-block;
}


 /*--------------------------------------------------------------*/
@media only screen 
and (max-width : 600px) {
	
	


	
	p, .artists{
		font-size:10px;
	}
	
	.artists{
		border-radius:none;
		background:none;
		color:#FC0;
	}
	
	h1{ font-size:30px; width:90%; margin:0px auto;}
	
	
}